@import "theme-toggle.css";

html {
    height: 100%;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

:root {
    background-attachment: fixed;
    height: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light;
    &[data-theme="dark"] {
        color-scheme: dark;
    } */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
    background-image: linear-gradient(45deg, #465468ff, #454463ff);
    transition: background 0.6s ease-in-out;
    color: white;

    .draftText {
        background: linear-gradient(45deg, #b08cf8ff, #9e97ffff, #51b4fcff);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .signOutButton {
        background-color: #5b6380ff;
        color: white;
    }

    .navitems {
        background-image: linear-gradient(90deg, #d378c7ff, #a270d1ff, #4aadd1ff);
        color: white;
    }

    .signInButton {
        background-color: #5b6380ff;
    }

    .MuiButton-root {
        background-color: #5b6380ff !important;
        color: white !important;
        border-color: white !important;
        text-transform: none;
    }

    .MuiSvgIcon-root {
        color: white;
    }

    .emailBox {
        background-color: #5b6380ff;
    }

    .MuiTextField-root {
        background-color: #767e99ff !important;
    }

    .MuiOutlinedInput-root textarea {
        color: white !important;
    }

    input,
    label,
    label.Mui-focused {
        color: white !important;
    }

    .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
        border-color: white !important;
    }

    .Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: white !important;
    }

    .MuiCheckbox-root {
        border-color: #767e99ff !important;
    }

    .Mui-checked {
        color: #8d96afff !important;
    }

    .MuiToggleButton-root {
        background-color: #767e99ff !important;
        color: white !important;
        border-color: none !important;
        text-transform: none;
        border-radius: 15x;
    }

    .MuiToggleButton-root.Mui-selected {
        background-color: #8d96afff !important;
    }

    button {
        background-color: #8d96afff;
        color: white;
    }

    .theme-toggle {
        background: none;
    }
}

[data-theme="light"] {
    background-image: linear-gradient(45deg, #f4f7fdff, #fcf4fdff);
    transition: background 0.6s ease-in-out;
    color: #595959;

    .draftText {
        background: linear-gradient(45deg, #b08cf8ff, #9e97ffff, #51b4fcff);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .signOutButton {
        background-color: #9db9f8ff;
    }

    .navitems {
        background-image: linear-gradient(90deg, #ffaaf4ff, #d7acffff, #66d6ffff);
        color: white;
    }

    .signInButton {
        background-color: #9db9f8ff;
    }

    .MuiButton-root {
        background-color: #e5e9f5ff !important;
        color: #595959 !important;
        text-transform: none;
    }

    .MuiSvgIcon-root {
        color: #595959;
    }

    .emailBox {
        background-color: #e5e9f5ff;
    }

    .MuiTextField-root {
        background-color: #ccdbf7ff !important;
    }

    .MuiOutlinedInput-root textarea {
        color: #595959 !important;
    }

    input {
        color: #595959 !important;
    }

    .MuiCheckbox-root {
        border-color: #ccdbf7ff !important;
    }

    .Mui-checked {
        color: #9db9f8ff !important;
    }

    .MuiToggleButton-root {
        background-color: #ccdbf7ff !important;
        color: #595959 !important;
        border-color: none !important;
        text-transform: none;
        border-radius: 15x;
    }

    .MuiToggleButton-root.Mui-selected {
        background-color: #9db9f8ff !important;
    }

    button {
        background-color: #9db9f8ff;
        color: #595959;
    }

    .theme-toggle {
        background: none;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 70vh;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #cad2c5;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* navbar */

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
}

.navitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left {
    align-items: left;
}

.right {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    align-items: right;
}

.rightitem {
    padding-top: 10px;
    padding-right: 50px;
}

.emailBox {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 2em;
}